.footer 
  %i.fa.fa-copyright
    Copyright Elixsys 2021 to 2022
:css
  .footer{
    background-color:white;
    opacity:0.8;
    margin-top:10px;
    height:60px;
    
    display:flex;
    justify-content:center;
    align-items:center;
  }